<a href="https://colab.research.google.com/github/tania123abc/apuntes/blob/main/4.%20Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Listas

Son tipos de datos más avanzados que str, float, int o bool. <br>

Son muy útiles para almacenar elementos (items) de una forma ordenada.

**Palabras clave:** list, dict, set, range <br>
**Vocabulario:** índice, heterogeneidad, mutables, llaves (keys), duplicados

# Listas

La **lista** en Python son un tipo de dato muy útil para almacenar datos. <br>
De manera interna python asigna cada elemento a un índice. <br>
Nota: Un array o matriz/vector es una serie de elementos ordenados en filas o columnas.

Las listas son muy vérsatiles. Para crear una lista se mete la secuencia de datos dentro de corchetes **[ ]**

In [ ]:
mi_primer_lista = []
print('mi primera lista:', mi_primer_lista)
print(type(mi_primer_lista))

In [ ]:
mi_segunda_lista = ['estoy adentro de la lista']
print(mi_segunda_lista)

In [ ]:
mi_tercera_lista = ['estoy', 'adentro', 'de', 'la', 'lista']
print(mi_tercera_lista)

Las listas en Python son:

- **heterogéneas**: pueden estar conformadas por elementos de distintos tipo, incluidos otras listas.
- **ordenadas**: La información se guarda mediante índices (index)
- **mutables**: sus elementos pueden modificarse.

### Heterogeneidad

In [ ]:
# Secuencia de elementos del mismo tipo
nombres_paises_lista = ['Angola', 'Alemania', 'Brasil', 'México']
print(type(nombres_paises_lista))
print(nombres_paises_lista)

In [ ]:
# Secuencia de elementos de diferentes tipos
mix_datos_lista = [1, 'Alameda', None, True, 10_000.05]
print(type(mix_datos_lista))
print(mix_datos_lista)

### Orden <br>
Los elementos de una lista pueden accederse mediante su índice, siendo 0 el índice del primer elemento.

In [ ]:
nombres_paises_lista = ['Angola', 'Alemania', 'Brasil', 'México']

In [ ]:
#['Angola', 'Alemania', 'Brasil', 'México'][0]
nombres_paises_lista[0]

In [ ]:
# ['Angola', 'Alemania', 'Brasil', 'México'][1]
nombres_paises_lista[1]

In [ ]:
nombres_paises_lista[2]

In [ ]:
nombres_paises_lista[-1]

In [ ]:
nombres_paises_lista[-2]

In [ ]:
nombres_paises_lista[-3]

### Mutables<br>
Se pueden modificar una vez creadas

In [ ]:
print(nombres_paises_lista[0]) #Primer elemento de la lista

In [ ]:
# Modificando el primer elemento de la lista
nombres_paises_lista[0] = 'República de Angola'
print(nombres_paises_lista)

Ya que las listas pueden recibir diferentes tipos de datos, podemos agregarle un número (float) a nuestra lista.

In [ ]:
# Modificando el segundo elemento de la lista
nombres_paises_lista[1] = 3.1416
print(nombres_paises_lista)

### Valores duplicados
<br>
Ya que las listas son indexadas, se pueden poner valores duplicados.

In [ ]:
frutas_list = ["mango", "durazno", "mamey", "mamey", "melón", "mamey"]
print(frutas_list)

In [ ]:
frutas_list[3]

### Formas adicionales de crear una lista

##### Constructor list()
Podemos crear una lista de dos formas, usando corchetes y usando el constructor list()

In [ ]:
frutas_list = list("mango", "durazno", "mamey")
print(frutas_list)

##### Método split
Es un método que puedes encontrar en los string, que se utiliza para partir un string por un patrón.

In [ ]:
frutas_str = "mango, durazno, mamey"
type(frutas_str)

In [ ]:
frutas_list = frutas_str.split(',')
print(frutas_list)

## Funciones y métodos<br>

1. **Función:** Es una instrucción empaquetada encargada de cumplir con un objetivo.

2. **Método:** Un método es una función que «pertenece a» un objeto.

Función **help:** La función help invoca el sistema de ayuda integrado de Python

### Método **sort**
Este método ordena los elementos de una lista y regresa un valor None

In [ ]:
frutas_list = ["sandia", "mango", "durazno", "mamey", "melón"]
print(frutas_list.sort())

In [ ]:
type(frutas_list.sort())

In [ ]:
print(frutas_list)

In [ ]:
numeros_list = [2, 3, 4, 1, 10]
numeros_list.sort()

In [ ]:
numeros_list

### Función **sorted**
Ordena los elementos de un iterable

In [ ]:
numeros_list = [2, 3, 4, 1, 10]

In [ ]:
sorted(numeros_list)

## Funciones

### len

Regresa el número de elementos que existen en la lista.

In [ ]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
len(frutas_list)

4

In [ ]:
numeros_lista = [1, 2, 3, 4, 5, 6]
len(numeros_lista)

6

In [ ]:
vacio_lista = []
len(vacio_lista)

0

Método len

In [ ]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
frutas_list.__len__()

4

### sum

In [ ]:
numeros_list = [2, 3, 4, 1, 10]
sum(numeros_list)

### max

In [ ]:
numeros_list = [2, 3, 4, 1, 10]
max(numeros_list)

## Métodos

In [ ]:
# help(list)

In [ ]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
print(type(frutas_list))

In [ ]:
# help(frutas_list)

### append
Este método agrega un elemento al final de una lista.

In [ ]:
list.append

In [ ]:
help(list.append)

In [ ]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
frutas_list.append("piña")
print(frutas_list)

In [ ]:
frutas_list.append(None)
print(frutas_list)

### extend
Este método extiende una lista agregando un iterable al final.

In [ ]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
frutas_2_list = ["manzana", "fresa", "melón", "piña"]
frutas_list.append(frutas_2_list)

In [ ]:
print(frutas_list)

In [ ]:
# ¿Cuántos elementos hay en la lista?
len(frutas_list)

Nota que que si usamos **append** agrega el elemento como una lista, mientras que, si usamos **extend**, se agregaran todos los elementos a la list pero desempaquetados.

In [ ]:
frutas_list = ["manzana", "fresa", "melón", "piña"]
frutas_2_list = ["manzana", "fresa", "melón", "piña"]
frutas_list.extend(frutas_2_list)

In [ ]:
print(frutas_list)

In [ ]:
len(frutas_list)

### index
Este método recibe un elemento como argumento, y devuelve el índice de su primera aparición en la lista.

In [ ]:
frutas_list = ["mango", "durazno", "mamey", "mamey", "melón"]
print(frutas_list.index("mango"))

In [ ]:
print(frutas_list.index("mamey"))

In [ ]:
print(frutas_list[2])

**IndexError:** Sucede cuando se intenta acceder a un índice que no existe en la lista

In [ ]:
frutas_list[5]

### reverse
Este método invierte el orden de los elementos de una lista.

In [ ]:
help(list.reverse)

In [ ]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
# frutas_list = frutas_list.reverse()
print(frutas_list.reverse())

In [ ]:
frutas_list = frutas_list.reverse()
print(frutas_list)

In [ ]:
frutas_list = ["mango", "durazno", "mamey", "melón"]
frutas_list.reverse()
print(frutas_list)

### Temporada de frutas en México

In [ ]:
table = [
         ['Guayaba', 'Psidium guajava', 'Febrero'],
         ['Fresa', 'Fragaria', 'Enero'],
         ['Mamey', 'Pouteria sapota', 'Marzo'],
         ['Fresa', 'Fragaria', 'Enero'],
         ]

In [ ]:
import pandas as pd

pd.DataFrame(table)

In [ ]:
frutas_df = pd.DataFrame(table, columns=['Nombre común', 'Nombre científico', 'Temporada'])

In [ ]:
frutas_df

In [ ]:
to_append = ['Naranja', 'Citrus X sinensis', 'Abril']
a_series = pd.Series(to_append, index=frutas_df.columns)
df = frutas_df.append(a_series, ignore_index=True)
df

# Operadores de pertenecia

Los operadores de pertenencia se utilizan para comprobar si un valor o variable se encuentran en una secuencia (list, tuple, dict, set o str).

In [ ]:
#@title Tabla operadores de lógicos { run: "auto", vertical-output: true }
import pandas as pd
from IPython.display import display, HTML

def pretty_print(df):
    return display(HTML(df.to_html().replace("\\n","<br>") ) )

df = pd.DataFrame(columns=['Operador', 'Descripción', 'Ejemplo'],
             index=[1, 2],
             data=[['in', 'Regresa True SI el item esta contenido en la secuencia \n False si NO esta contenido', '"a" in "planeta" == True \n "a" in "universo" == False'],
                   ['not in', 'Regresa True si el item NO se encuentra en la secuencia \n True SI esta contenido', '"a" in "planeta" == False \n "a" in "universo" == True']])


pretty_print(df)

In [ ]:
"a" in "planeta"

In [ ]:
"a" in "universo"

In [ ]:
"a" not in "planeta"

In [ ]:
"a" not in "universo"